div {
  border: 2px solid #4775d1;
  background-color: #b3d9ff;
}

h1,
h2,
h3 {
  color: #0000b3;
}

#cabecera {
  padding: 5px 10px;
  margin-bottom: 5px;
}

#logo {
  float: left;
  width: 120px;
  text-align: center;
}

#title {
  margin-left: 130px;
}

#barranav {
  padding: 2px;
  padding-right: 10px;
  margin-bottom: 5px;
}

#ident {
  margin-left: 70%;
  text-align: center;
}

#barra {
  float: left;
}

#paginas {
  float: left;
  background-color: transparent;
  border: none;
  width: 69.5%;
  height: 100%;
  text-align: center;
}

#articulo1 {
  margin-bottom: 5px;
  height: 9em;
}

#articulo2 {
  height: 9em;
}

#busnot {
  margin-left: 70%;
  padding: 5px 15px;
  text-align: center;
}

#busq {
  margin-bottom: 0.5em;
}

#notic {
  padding-bottom: 155px;
}

#medio {
  background-color: transparent;
  border: none;
  margin-bottom: 5px;
}

#pie {
  text-align: center;
}

#Contenido,
#opciones {
  display: none;
}
#opcond {
  border: none;
  background-color: transparent;
}
