div {
  border: 2px solid #4775d1;
  background-color: #b3d9ff;
}

h1,
h2,
h3 {
  color: #0000b3;
}

#cabecera {
  padding: 5px 10px;
  margin-bottom: 5px;
}

#logo {
  float: left;
  width: 120px;
  text-align: center;
}

#title {
  border: 2px solid transparent;
  text-align: center;
}

#barranav {
  padding: 2px;
  padding-right: 10px;
  margin-bottom: 5px;
}

#ident {
  margin-left: 70%;
  border: none;
  background-color: transparent;
}

#idtcol {
  color: transparent;
}

#barra {
  float: left;
}

#paginas {
  background-color: transparent;
  border: none;
  width: 37%;
  height: 100%;
  text-align: center;
  margin-left: 63%;
}

#articulo1 {
  margin-bottom: 5px;
  height: 11em;
}

#articulo2 {
  height: 11em;
}

#busnot {
  display: none;
}

#busq {
  margin-bottom: 0.5em;
}

#notic {
  padding-bottom: 155px;
}

#medio {
  background-color: transparent;
  border: none;
  margin-bottom: 5px;
}

#pie {
  text-align: center;
}

#Contenido,
#opciones {
  float: left;
  width: 30%;
  text-align: center;
  height: 22.5em;
}

#Contenido {
  margin-left: 1%;
}

#opcond {
  border: none;
  background-color: transparent;
}
