<!--La barra de opciones-->
<div class="row" style="margin-top: 45px">
  <div class="col-xl-2"></div>
  <div class="col-xl-8">
    <div style="height: 50px">
      <a href="avisosentrantes"><span class="tik<% if (pagina=="avisosentrantes"){ %> seleccionado <% } %>" id="avs">Avisos entrantes</span></a>
      <span class="tik">|</span>
      <a href="misavisos"><span class="tik<% if (pagina=="misavisos"){ %> seleccionado <% } %>" id="mavs">Mis avisos</span></a>
      <span class="tik">|</span>
      <a href="historico"><span class="tik<% if (pagina=="historico"){ %> seleccionado <% } %>" id="hst">Historico de avisos</span></a>
      <span class="tik">|</span>
      <a href="gestionUsuarios"><span class="tik<% if (pagina=="gestionUsuarios"){ %> seleccionado <% } %>" id="gu">Gestion de usuarios</span></a>
    </div>
  </div>
</div>