<!--Navbar-->
<div class="row fixed-top" id="nav">
    <div class="col-lg-4 text-center">
      <img
        src="https://www.ucm.es/themes/ucm16/media/img/logo.png"
        alt="imagen logo"
        style="position: center"
      />
    </div>
    <div class="col-lg-4">
      <div class="row">
        <h1 class="text-center txt">UCM - CAU</h1>
      </div>
      <div class="row">
        <h3 class="text-center txt">Centro de Atencion al Usuario</h3>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-4 text-center">
          <a href="#" class="ifo"><img src="/imagen" alt="imagen user" id="imgn"  /></a>
          
        </div>
        <div class="col-4 text-center txt">
          <a href="#" class="ifo"><h3 class="txt" id="nmb" style="margin-top: 10px"><%= session.Nombre %></h3></a>
        </div>
        <div class="col-4 text-center" id="logo">
          <a href="/cerrarsesion" class="fa-solid fa-right-from-bracket fa-3x"></a>
        </div>
      </div>
    </div>
  </div>