<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pagina principal</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/principal.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container-fluid">

     <!--Navbar-->
      <div class="row fixed-top" id="nav">
        <div class="col-lg-4 text-center">
          <img
            src="https://www.ucm.es/themes/ucm16/media/img/logo.png"
            alt="imagen logo"
            style="position: center"
          />
        </div>
        <div class="col-lg-4">
          <div class="row">
            <h1 class="text-center txt">UCM - CAU</h1>
          </div>
          <div class="row">
            <h3 class="text-center txt">Centro de Atencion al Usuario</h3>
          </div>
        </div>
      </div>
      
      <div class=" row">
       <div class="col-lg-3"></div>
       <div class="col-lg-6 formulario">
         <form method="post" action="procesarIniciarSesion">
          
          <div class="row text-center " id="correo" >
            <% if (Error){ %>
              <div class="alert alert-danger" role="alert">
                Credenciales incorrectas
              </div>
            <% } %>
            <div class="col-xl-2 col-lg-1 " ></div>
            <div class="col-xl-8 col-lg-10 " >
              <i class="fa-solid fa-user fa-2x"></i>
              <input class="datos" type="text" name="correo" placeholder="Enter your email">
            </div>
          </div>
          
          <div class="row text-center " id="contrasena" >
            <div class="col-xl-2 col-lg-1" ></div>
            <div class="col-xl-8 col-lg-10">
              <i class="fa-solid fa-lock fa-2x" ></i>
              <input name="contrasena" class="datos" type="password" placeholder="Enter your password">
            </div>
          </div>

          <div class="row text-center" id="rowlgin">
            <div class="col-xl-2 col-lg-1" ></div>
            <div class="col-xl-8 col-lg-10" >
              <button id="btnlgin" class="btn "><h3>Login</h3></button>
            </div>
          </div>
          <div class="row text-center" id="rowCct">
            <div class="col-xl-2 col-lg-1" ></div>
            <div class="col-xl-8 col-lg-10" >
              <a href="./CreacionCuenta" class="btn" id="btnlgin"><h3>Crear Cuenta</h3></a>
            </div>
          </div>
         </form>
       </div>
      </div>
      
        </div>
      </div>
    </div>
  </body>
</html>
