body {
  background-color: #ffad33;
}

#nav {
  background-color: gainsboro;
}

.formulario {
  background-color: #336699;
  height: 680px;
  margin-top: 190px;
  border-radius: 2em;
  border: 2px solid;
}

.txt {
  color: #336699;
}

.colformu {
  margin-top: 40px;
  color: white;
}

.arrb {
  margin-top: 30px;
}

.pr {
  margin-top: 15px;
}

.abj {
  margin-bottom: 15px;
}

.botones {
  width: 350px;
  border-radius: 2em;
  background-color: #204060;
  color: white;
  margin-top: 25px;
}

.botones:hover {
  background-color: #6699cc;
  color: white;
}

#tec {
  font-size: 20px;
}
